@import "../../scss/variables.scss";

.search-application {
    margin: 20px 0;

    .card {
        padding: 20px;

        .no-message {
            padding: 40px;
            font-size: 18px;
            font-weight: 700;
            color: $reject-color;

            @media (min-width: 320px) and (max-width: 768px) {
                padding: 20px 10px;
            }
        }

        .react-search-field {
            border: none !important;
            width: 40%;
            margin-left: auto;
            margin-right: auto;

            @media (min-width: 320px) and (max-width: 768px) {
                width: 100%;
                margin-left: inherit;
                margin-right: inherit;
            }

            .react-search-field-input {
                box-shadow: 0px 3px 6px $box-shadow-drop;
                border: 3px solid $active-blue  !important;
                border-radius: 15px;
                z-index: 2;
                height: 40px !important;
                font-size: 18px !important;

                @media screen and (min-width: 320px) and (max-width: 1024px) {
                    padding-right: 45px !important;
                }
            }

            .react-search-field-button {
                margin-left: -70px;
                z-index: 3;
                border: none !important;
                background-color: transparent !important;

                @media screen and (min-width: 320px) and (max-width: 767px) {
                    position: absolute;
                    right: 28px;
                }

                @media (min-width: 768px) and (max-width: 1024px) {
                    margin-left: -40px;
                    //CSS

                }

                svg {
                    fill: $active-blue  !important;
                    font-size: 28px;
                    width: 22px;
                    height: 34px;
                    font-weight: 900;
                    margin-top: -2px;
                }
            }
        }

        .table-responsive {
            margin-top: 20px;
        }

        .disable-field {
            opacity: 0.5;
            pointer-events: none;
        }

        .edit-block {
            text-align: right;
            margin: 5px 0;
            padding: 5px 10px;
            font-size: 14px;
            color: $white-color;
            width: max-content;
            cursor: pointer;
            background-color: $active-blue;
        }

        .export-block {
            text-align: right;

            button {
                text-align: right;
                margin: 15px 0;
                padding: 5px 20px;
                font-size: 14px;
                color: $white-color;
                width: max-content;
                cursor: pointer;
                background-color: $active-blue;
            }

        }

        .applicant-table {
            border: 0px;
            background-color: transparent;
            border-collapse: unset;

            thead {
                height: 78px;

                th {
                    color: $white-color;
                    background-color: $active-blue;
                    vertical-align: middle;
                    text-align: center;
                }

                th:first-child {
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                }

                th:last-child {
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                }
            }

            .status-row {
                min-height: 40px;
            }

            td {
                vertical-align: middle;
                text-align: center;

                @media screen and (max-width: 767px) {
                    min-width: 120px;
                }
            }

            .desc-status {
                height: 40px;
                max-width: 140px;
                padding: 0;
                overflow: hidden;
                position: relative;
                margin: 0 5px 0 5px;
                text-align: left;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: $dark-color;

                .btn-secondary {
                    background-color: transparent;
                    color: $dark-color;
                    border: 0px;

                }
            }

            .status-block {
                font-size: 12px;
                font-weight: 700;

                .floating-input {
                    position: relative;
                    // width: 80%;
                    // max-width: 80%;

                    svg {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                    }
                }

                span {
                    min-width: 80%;
                    display: inline-block;
                    height: 28px;
                }

                .reject {
                    padding: 5px;
                    background-color: $reject-color;
                    border-radius: 16px;
                    color: $white-color;
                }

                .progress {
                    padding: 5px;
                    background-color: $inprogress-color;
                    border-radius: 16px;
                    color: $white-color;
                }

                .applied,
                .accepted {
                    padding: 5px;
                    background-color: $dark-green-color;
                    border-radius: 16px;
                    color: $white-color;
                }
            }

            // margin-top: 50px;
            form {
                padding: 0;

                .form-label {
                    display: none;
                }

                .floating-input {
                    .form-control {
                        font-size: 16px;
                        line-height: 20px;
                        text-transform: capitalize;
                    }
                }
            }


            @media screen and (min-width: 320px) and (max-width: 1024px) {
                // margin-top: 20px;
            }
        }

        .verticle-table {
            th {
                width: 110px;
                height: 50px;
            }
        }
    }
}