@import "../../../scss/variables.scss";
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $background-grey;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.open-side-nav {
  width: 250px;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.14);
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}
.hambergur-menu {
  font-size: 45px;
  padding: 20px;
}
.enrollment {
  background-color: $orange;
  padding: 5px 30px;
  border-radius: 16px;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.14);
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
