$white-color: #fff;
$background-grey: #F5F5F5;
$font-grey: #41464b;
$active-blue: #000080;
$orange: #ff9933;
$box-shadow-drop: #00000029;
$dark-color: #000000;
$green-color: #006830;
////// font size //////

$regular-font-size: 14px;
