$white-color: #fff;
$background-grey: #F5F5F5;
$font-grey: #41464b;
$active-blue: #000080;
$orange: #ff9933;
$box-shadow-drop: #00000029;
$dark-color: #000000;
$green-color: #006830;
$dark-green-color: #00D41C;
$light-green-color: #3a8719;
$inprogress-color: #FF9933;
$reject-color:  #D90026;
////// font size //////

$regular-font-size: 14px;
