$white-color: #fff;
$background-grey: #f6f6f6;
$font-grey: #41464b;
$active-blue: #000080;
$orange: #ff9933;
$box-shadow-drop: #00000029;
$dark-color: #000000;

////// font size //////

$regular-font-size: 14px;
